[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
python-coveralls = "*"

[packages]
django = ">=2.2,<2.3"
wagtail = "==2.6.1"
dj-database-url = "*"
whitenoise = "*"
"psycopg2-binary" = ">=2.8,<2.9"
django-environ = "*"
django-storages = "*"
gunicorn = "*"
django-redis = "*"
wagtail-factories = "*"
factory-boy = "*"
boto3 = "*"
braintree = "*"
django-countries = "*"
freezegun = "*"
babel = "*"
rq = "*"

[requires]
python_version = "3.7"
