[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
python-coveralls = "*"

[packages]
django = ">=2.2,<2.3"
wagtail = "==2.6.1"
dj-database-url = "*"
whitenoise = "*"
"psycopg2-binary" = ">=2.8,<2.9"
django-environ = "*"
django-storages = "*"
gunicorn = "*"
django-redis = "*"
wagtail-factories = "*"
factory-boy = "*"
boto3 = "*"
braintree = "*"
django-countries = "*"
freezegun = "*"
wagtail-localize = {git = "https://github.com/kaedroho/wagtail-localize.git", ref="51f006abdbce7603cd9e4ea48f9c23793763153c"}
wagtail-localize-pontoon = {git = "https://github.com/kaedroho/wagtail-localize-pontoon.git", ref="afb31b8d78a687057d12a75434d2e76107b5b2eb"}
babel = "*"
rq = "*"
django-rq = "*"

# Need to install a pre-release in order to get the RedLock.locked() method
redlock = {git = "https://github.com/glasslion/redlock.git", ref="7f873cc362eefa7f7adee8d4913e64f87c1fd1c9"}

[requires]
python_version = "3.7"
