babel
basket-client==1.0.0
boto3
braintree
dj-database-url
django==2.2.13
django-configurations
django-countries
django-csp
django-environ
django-redis
django-rq
django-storages
factory-boy
freezegun
gunicorn
lxml==4.6.2
mozilla-django-oidc
pygit2==1.0.3
pysilverpop==0.2.6
psycopg2-binary
# Need to install a pre-release in order to get the RedLock.locked() method
git+git://github.com/glasslion/redlock.git@master#egg=redlock
requests
rq==1.2.0
sentry-sdk
stripe
wagtail==2.11.4
wagtail-factories
wagtail-localize
wagtail-localize-git==0.9.2
wagtail-ab-testing==0.1.2
whitenoise
scout-apm
