babel
boto3
braintree
dj-database-url
django==2.2.13
django-configurations
django-countries
django-csp
django-environ
django-redis
django-rq
django-storages
factory-boy
freezegun
gunicorn
mozilla-django-oidc
pygit2==1.0.3
psycopg2-binary
# Need to install a pre-release in order to get the RedLock.locked() method
git+git://github.com/glasslion/redlock.git@master#egg=redlock
requests
rq==1.4.2
sentry-sdk
stripe
wagtail
wagtail-factories
wagtail-localize
wagtail-localize-pontoon
whitenoise
