# Need to install a pre-release in order to get the RedLock.locked() method
babel
basket-client==1.0.0
boto3
braintree
dj-database-url
django-configurations
django-countries
django-csp
django-environ
django-redis
django-rq
django-storages
django==3.1.11
factory-boy
freezegun
# Need to install a pre-release in order to get the RedLock.locked() method
git+git://github.com/glasslion/redlock.git@master#egg=redlock
gunicorn
lxml==4.6.2
mailchimp-marketing==3.0.44
mozilla-django-oidc
psycopg2-binary
pygit2==1.0.3
pysilverpop==0.2.6
requests
rq==1.2.0
scout-apm
sentry-sdk
stripe
wagtail-ab-testing==0.5
wagtail-factories
wagtail-localize==1.0rc4
wagtail-localize-git==0.10.0
wagtail==2.14.1
whitenoise
