{% extends "fragments/donate_form_disclaimer_master.html" %}

{% load i18n %}

{% block other_options %}
    <b>
    {% blocktrans with wire_transfer_url='/ways-to-give#wire' check_url='/ways-to-give#check' %}Other ways to give: <a href="{{ wire_transfer_url }}">SEPA/BACS</a> | <a href="{{ check_url }}">Check</a>{% endblocktrans %}
    </b>
{% endblock %}

{% block donation_information %}
    {% blocktrans with braintree_url='https://www.braintreepayments.com/legal/braintree-privacy-policy' paypal_url='https://www.paypal.com/us/webapps/mpp/ua/privacy-full' privacy_url="https://www.mozilla.org/privacy/websites/" trimmed %}
        Your payment details will be processed by <a href="{{ braintree_url }}">Braintree</a>, a PayPal company (for credit/debit cards) or <a href="{{ paypal_url }}">PayPal</a>, and a record of your donation will be stored by Thunderbird. Please read our <a href="{{ privacy_url }}">privacy policy here</a>.
    {% endblocktrans %}
    {% if monthly %}{% blocktrans with help_url='/help' trimmed %}
        Monthly donations are charged each month on the same day that you donate today, and will continue until you cancel. To cancel, fill out <a href="{{help_url}}">this form</a>.
    {% endblocktrans %}{% endif %}
{% endblock %}

{% block faq_contact %}
    {% blocktrans with faq_url='/faq' help_url='/help' trimmed %}
    Problems donating? Visit our <a href="{{ faq_url }}">FAQ</a> for answers to most common questions. Still have problems? <a href="{{ help_url }}">Contact us</a>.
    {% endblocktrans %}
{% endblock %}

{% block contribution_statement %}
    {% blocktrans %}Contributions go to MZLA Technologies Corporation, a California corporation wholly owned by the Mozilla Foundation. Funds will be reserved for use in the Thunderbird project. Contributions are not tax-deductible as charitable contributions.{% endblocktrans %}
{% endblock %}
