// --------------------------------- Colors -------------------------------------
// From https://foundation.mozilla.org/en/style-guide/

$color--grey-05: #f2f2f2;
$color--grey-20: #cccccc;
$color--grey-40: #999999;
$color--grey-60: #666666;
$color--grey-80: #333333;

$color--light-red: #ffe6e8;
$color--red: #ff4f5e;
$color--dark-red: #cc0011;
$color--light-blue: #b7b9fa;
$color--blue: #595cf3;
$color--dark-blue: #0d10bf;

$color--primary: $color--blue;
$color--secondary: #eaeaea;
$color--tertiary: #f9f9f9;

$color--white: #ffffff;
$color--black: #000000;
$color--border: $color--grey-20;
$color--background: $color--white;

$color--neutral: $color--grey-05;
$color--warning: $color--red;
$color--positive: $color--blue;

$color--default: $color--grey-80;
$color--disabled: $color--grey-20;
$color--link: $color--blue;
$color--link-hover: darken($color--blue, 10%);

// --------------------------------- Fonts --------------------------------------

$font--primary: "Zilla Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font--secondary: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 300;

// Font sizes
$base-font-size: 16px;
$base-line-height: 1.6;
$base-line-height--mobile: 1.4;

$font-sizes: (
  default: $base-font-size,
  xxxl: 48px,
  xxl: 36px,
  xl: 28px,
  l: 22px,
  m: 18px,
  s: 15px,
  xs: 14px,
  xxs: 12px,
);

// --------------------------------- Breakpoints --------------------------------------
// Ensure that all breakpoints are duplicated in the gutters array

$breakpoints: (
  "mob-portrait" "(min-width: 320px)",
  "mob-landscape" "(min-width: 480px)",
  "tablet-portrait" "(min-width: 768px)",
  "tablet-landscape" "(min-width: 1024px)",
  "paypal-specific" "(min-width: 1090px)",
  // needed for working with responsive paypal button
    "desktop" "(min-width: 1280px)",
  "desktop-wide" "(min-width: 2556px)"
);

/* ============================================
    Z-indices
*/

$z-index: (
  hidden: -1,
  base: 1,
  to-do: 20,
  search: 30,
  nav: 40,
  header: 50,
  nav-desktop: 60,
  ui-overlay: 70,
  sticky-message: 80,
  modal: 100,
  overlay: 200,
);

// --------------------------------- Grid Dimensions --------------------------------------

// Max widths
$site-width--small: 728px;
$site-width--default: 1100px;
$site-width--large: 1200px;

// Grid setup
$grid: 16px;
$gutter: $grid;

// --------------------------------- Transitions --------------------------------------

$transition: 0.25s ease-out 0s;
