{% extends "base.html" %}
{% load i18n static wagtailcore_tags util_tags %}

{% block meta_tags %}
    {% wagtail_site as current_site %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {% trans 'Donate to Mozilla' context 'Page title' %}">
    <meta name="twitter:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.intro|striptags }}{% endif %}">
    <meta name="twitter:image" content="{% static '_images/og-image_2x.png' %}">

    {# facebook opengraph tags #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
    <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {% trans 'Donate to Mozilla' context 'Page title' %}">
    <meta property="og:site_name" content="{% if current_site.site_name %}{% trans 'Donate to Mozilla' context 'Page title' %}{% endif %}">
    <meta property="og:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.intro|striptags }}{% endif %}">
    <meta property="og:image" content="{% static '_images/og-image_2x.png' %}">
{% endblock meta_tags %}

{% block body_top %}
{% endblock body_top %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
    <div class="header">
        <div class="header__container">


            <a class="header__logo-link" href="/">
                <img class="header__logo header__logo--mobile" src="{% static '_images/mozilla-logo-m.svg' %}" alt="Mozilla">
                <img class="header__logo header__logo--desktop" src="{% static '_images/mozilla-logo-white.svg' %}" alt="Mozilla">
            </a>

        </div>
    </div>
{% endblock header %}

{% block footer %}
<div class="footer">
    <div class="footer__container layout">
        <div class="footer__info layout__container">
            <div class="footer__logo footer__logo--desktop layout__half-col">
                {% block footer_logo %}
                    <a class="footer__logo-link" href="https://foundation.mozilla.org">
                        <img class="footer__logo-image" src="{% static '_images/mozilla-logo-black.svg' %}" alt="Mozilla">
                    </a>
                {% endblock %}
            </div>
            <div class="footer__legal layout__half-col">
                <p class="footer__legal-license">
                    {% block footer_legal %}
                        {% blocktrans with fomo_link_attributes='class="link" href="https://foundation.mozilla.org/"' fomo_site_url='foundation.mozilla.org' cc_link_attributes='class="link" href="https://foundation.mozilla.org/about/website-licensing/"' trimmed %}
                        Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good. Visit us at <a {{ fomo_link_attributes }}>{{ fomo_site_url }}</a>. Most content available under a <a {{ cc_link_attributes }}>Creative Commons license</a>.{% endblocktrans %}
                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock footer %}
