{% extends "pages/base_page.html" %}
{% load i18n wagtailcore_tags wagtailsettings_tags static %}

{% block title %}{% trans "VPN Issue" %}{% endblock %}

{% block template_name %}app--403{% endblock %}

{% block content %}
<div class="layout error">
    <div class="layout__container">
        <h1 class="error__heading heading heading--primary">{% trans "Action Required - VPN Issue" %}</h1>
    </div>
    <div class="layout__container">
        <div class="layout__half-col error__container">
            {% blocktrans %}
              <p class="error__message">Please disable your VPN and visit <a href="https://www.donate.mozilla.org"> donate.mozilla.org </a> again.</p>
            {% endblocktrans %}
          <p class="error__message">
              {% trans "We take your privacy very seriously. To minimize fraudulent payments, we’re asking supporters to disable their VPNs when visiting our donate page." %}
            </p>
        </div>
        <div class="layout__half-col">
            <img class="error__image" src="{% static '_images/403.svg' %}" alt="Sad anthropomorphized 403">
        </div>
    </div>
</div>
{% endblock %}