{% load static %}
<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{% if request.site and page.pk == request.site.root_page.pk and request.site.site_name %}{{ request.site.site_name }} | {% endif %}{% endblock %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% if request.site and page.pk != request.site.root_page.pk and request.site.site_name %} | {{ request.site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block meta_tags %}{% endblock %}

        <link rel="stylesheet" href="/_css/main.compiled.css">
    </head>

    <body class="{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        {% block body_top %}{% endblock %}

        {% block header %}{% endblock %}

        <main class="wrapper wrapper--large wrapper--main">
            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}{% endblock %}

        {% block script_bundle %}
        <script src="/_js/main.compiled.js"></script>
        {% endblock %}
    </body>
</html>
