{% load analytics_tags static i18n util_tags %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %} | {% trans 'Donate to Mozilla' context 'Page title' %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block ga_identifier %}
        <meta name="ga-identifier" content="UA-49796218-32">
        {% endblock %}
        {% block meta_tags %}{% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static '_images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '_images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '_images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '_images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static '_images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static '_images/favicon/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="{% static '_images/favicon/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:700,600,400,300|Zilla+Slab:300,500,700">
        <link rel="stylesheet" href="{% static '_css/main.compiled.css' %}">
    </head>

    <body>
        {% block body_top %}{% endblock %}

        <div class="app {% block template_name %}app--{{ page.get_verbose_name|slugify }}{% endblock %} {% if LANGUAGE_BIDI %}app--rtl{% endif %}">
            <div class="app__container">

                {% include "fragments/svg-sprites.html" %}

                <div class="app__notice-bar">
                    {% block notice_bar %}{% endblock %}
                </div>

                <header class="app__header">
                    {% block header %}{% endblock %}
                </header>

                <div class="app__navigation">
                    {% block navigation %}{% endblock %}
                </div>

                <main class="app__content">
                    {% block content %}{% endblock %}
                </main>

                <footer class="app__footer">
                    {% block footer %}{% endblock %}
                </footer>

            </div>
        </div>

        {% block script_bundle %}
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static '_js/main.compiled.js' %}"></script>
        {% endblock %}

        {% render_ga_event_data %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
