{% load static %}
<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{% if request.site and page.pk == request.site.root_page.pk and request.site.site_name %}{{ request.site.site_name }} | {% endif %}{% endblock %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% if request.site and page.pk != request.site.root_page.pk and request.site.site_name %} | {{ request.site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block meta_tags %}{% endblock %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:600,400,300,700,300italic|Zilla+Slab:300,700">
        <link rel="stylesheet" href="/_css/main.compiled.css">
        
    </head>

    <body>
        {% block body_top %}{% endblock %}

        <div class="app {% block template_name %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
            <div class="app__container">

                <header class="app__header">
                    {% block header %}{% endblock %}
                </header>

                <main class="app__content">
                    {% block content %}{% endblock %}
                </main>

                <footer class="app__footer">
                    {% block footer %}{% endblock %}
                </footer>

            </div>
        </div>

        {% block script_bundle %}
        <script src="/_js/main.compiled.js"></script>
        {% endblock %}
    </body>
</html>
