{% extends "pages/core/campaign_page_master.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}

<div class="layout layout__fundraise-up">
    <div class="layout__container layout__container--full">
        <div class="layout__full-col">
            <div class="hero">
                <div class="hero__container">
                    <div class="hero__image">
                        <picture>
                        {% with alt_text=image.alt %}
                            {% image page.hero_image width-1800 as imageDesktop %}
                            {% image page.hero_image width-3600 as imageDesktop_2x %}
                            {% image page.hero_image width-1200 as imageTablet %}
                            {% image page.hero_image width-2400 as imageTablet_2x %}
                            {% image page.hero_image width-768 as imageMobile %}
                            {% image page.hero_image width-1536 as imageMobile_2x %}
                            <source media="(min-width: 1201px)" srcset="{{ imageDesktop.url }}, {{ imageDesktop_2x.url }} 2x" />
                            <source media="(min-width: 768px)" srcset="{{ imageTablet.url }}, {{ imageTablet_2x.url }} 2x" />
                            <source srcset="{{ imageMobile.url }}, {{ imageMobile_2x.url }} 2x" />

                            <img src="{{ imageDesktop.url }}" class="hero__image-item" srcset="{{ imageMobile.url }} 768w, {{ imageTablet.url }} 1200w, {{ imageDesktop.url }} 1800w" alt="{{ alt_text }}"/>
                        {% endwith %}
                        </picture>
                    </div>
                    <div class="hero__content">
                        <div class="hero__content-container">
                            <h1 class="heading heading--primary hero__heading">{{ page.title }}</h1>
                            <p class="hero__description">{{ page.lead_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout__container">
        <div class="layout__half-col">
            <div class="introduction column-spacing">
                <h1 class="heading heading--primary">
                    {% trans "Donate now" context "Header" %}
                </h1>
                <div class="introduction__container">
                    {{ page.intro|richtext }}
                </div>
            </div>
        </div>
        <div class="layout__half-col">
            <div class="donate-form">
                {% include "fragments/donate_form_fundraise_up.html" %}
            </div>
        </div>
        <div class="layout__full-col">
            {% include "fragments/donate_form_disclaimer_fundraise_up.html" %}
        </div>
    </div>
</div>

{% endblock %}
