{% extends "pages/base_page.html" %}
{% load form_tags static wagtailcore_tags wagtailimages_tags i18n %}

{% block meta_tags %}
    {{ block.super }}
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock %}

{% block content %}
{% wagtail_site as current_site %}

<header class="page-header">
    <div class="page-header__container">
        <h1 class="page-header__heading">{{ page.title }}</h1>
    </div>
</header>

<div class="layout">
    <div class="layout__container">
        <div class="layout__full-col">
            <div class="page-body support-form">
            {% if 'submitted' in request.GET %}
                <h1 class="heading heading--primary">
                    {% trans "Thank you for contacting us. A case has been created for your issue and we will be in touch shortly." %}
                </h1>

                <br>

                <div>
                    <p class="rich-text">{% trans "We will get back to you soon." %}</p>
                </div>
            {% else %}
                <h1 class="heading heading--primary">
                    {% trans "This page is temporarily unavailable" %}
                </h1>

                <br>

                <div>
                    <p class="page-body">{% blocktrans %}This page is currently undergoing maintenance. Please check back in a few hours.{% endblocktrans %}</p>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
