{% extends "pages/core/contributor_support_page_master.html" %}

{% load i18n %}


{% block delayed_response_notice %}
    <div class="delayed-response-notice">
        <p>
            <b>
            {% blocktrans trimmed %}
                Our team is experiencing a backlog in donor inquiries. Please expect a delay of up to 5 business days to respond to your inquiry. 
            {% endblocktrans %}
            </b>
        </p>
        <p>
            {% blocktrans trimmed %}
                If you are a current donor, you can use the self-service option to log into your donor portal. You can see receipts and make changes to your monthly gift. To access your log in page, refer to your link in a recent donation email.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
