{% extends "pages/base_page.html" %}
{% load form_tags static wagtailcore_tags wagtailimages_tags i18n %}

{% block meta_tags %}
    {{ block.super }}
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock %}

{% block content %}
{% wagtail_site as current_site %}

<header class="page-header">
    <div class="page-header__container">
        <h1 class="page-header__heading">{{ page.title }}</h1>
    </div>
</header>

<div class="layout">
    <div class="layout__container">
        <div class="layout__full-col">
            <div class="page-body support-form">
            {% if 'submitted' in request.GET %}
                <h1 class="heading heading--primary">
                    {% trans "Thank you for contacting us. A case has been created for your issue and we will be in touch shortly." %}
                </h1>

                <br>

                <div>
                    <p class="rich-text">{% trans "We will get back to you soon." %}</p>
                </div>
            {% else %}
                <form class="" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">
                    <p class="rich-text">{% blocktrans trimmed %}
                    If you need help with a contribution to MZLA/Thunderbird, please fill out this form and a Thunderbird donor care representative will get back to you as soon as possible.
                    {% endblocktrans %}</p>

                    {% if 'thunderbird' in current_site.hostname %}
                        <p class="rich-text">{% blocktrans with support_url="https://support.mozilla.org/products/thunderbird/" trimmed %}
                        Unfortunately, donor care representatives are unable to offer support or help with Thunderbird technical issues. For technical support, please visit our <a href="{{ support_url }}">support page.</a>
                        {% endblocktrans %}</p>
                    {% endif %}

                    <input type="hidden" name="orgid" value="{{ orgid }}">
                    <input type="hidden" name="retURL" value="{{ page.get_full_url }}?submitted=true">

                    {% block custom_hidden_fields %}
                        <input type="hidden" name="type" value="Donation">
                    {% endblock %}

                    <fieldset class="form-item">
                        <label for="name">{% trans "Contact Name" %}</label>
                        <input id="name" maxlength="80" name="name" size="20" type="text">
                    </fieldset>

                    <fieldset class="form-item">
                        <label for="email">{% trans "Email" %}</label>
                        <input id="email" maxlength="80" name="email" size="20" type="text" required>
                    </fieldset>

                    <fieldset class="form-item">
                        <label for="00N4x00000O6Pzw">{% trans "Language" %}</label>
                        <div class="form-item__wrapper form-custom-select">
                            <select id="00N4x00000O6Pzw" name="00N4x00000O6Pzw" title="Language">
                                <option value="">--{% trans "None" context "Option in 'Language' dropdown" %}--</option>
                                <option value="English">{% trans "English" %}</option>
                                <option value="French">{% trans "French" %}</option>
                                <option value="German">{% trans "German" %}</option>
                                <option value="Spanish">{% trans "Spanish" %}</option>
                                <option value="Polish">{% trans "Polish" %}</option>
                                <option value="Portuguese">{% trans "Portuguese" %}</option>
                                <option value="Other">{% trans "Other" context "Option in 'Language' dropdown" %}</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="form-item">
                        <label for="subject">{% trans "Subject" %}</label>
                        <input id="subject" maxlength="80" name="subject" size="20" type="text">
                    </fieldset>

                    <fieldset class="form-item">
                        <label for="description">{% trans "Description" %}</label>
                        <textarea name="description"></textarea>
                    </fieldset>
                    <div class="privacy-notice">
                        {% blocktrans with privacy_policy="https://www.mozilla.org/privacy/websites/" %}Mozilla will only use your submitted information for purposes of communicating with you about your request. See our <a href="{{ privacy_policy }}">privacy policy</a> for further information.{% endblocktrans %}
                    </div>
                    <input class="button button--medium button--primary" type="submit" name="submit" value='{% trans "Submit" %}'>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
