{% extends "pages/base_page.html" %}
{% load form_tags static wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}

<div class="layout">
    <div class="layout__container">
        <div class="layout__secondary-col">
            <div class="image-feature column-spacing">
                {% block featured_image %}
                    <div class="image-feature__container">
                        {% image page.featured_image width-290 as imageMobile %}
                        {% image page.featured_image width-690 as imageTablet %}
                        {% image page.featured_image width-350 as imageDesktop %}
                        <img srcset="{{ imageMobile.url }} 290w,
                                    {{ imageTablet.url }} 690w,
                                    {{ imageDesktop.url }} 350w"
                            sizes="(max-width: 399px) 290px,
                                    (max-width: 1023px) and (min-width: 400px) 690px,
                                    (min-width: 1024px) 350px"
                            src="{{ imageDesktop.url }}"
                            alt="{{ image.alt }}"
                            class="image-feature__image">
                    </div>
                {% endblock %}
            </div>
            <div class="introduction column-spacing">
                <div class="introduction__container">
                    {{ page.intro|richtext }}
                </div>
            </div>
            {% block logo_showcase %}
            <div class="logo-showcase column-spacing">
                <div class="logo-showcase__container">
                    <div class="logo-showcase__item logo-item">
                        <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=16300" target="_blank"><img class="logo-item__image" src="{% static '_images/seal-charity-navigator-4-star.png' %}" alt="{% trans 'Seal of Charity Navigator 4-Star' %}"></a>
                    </div>
                    <div class="logo-showcase__item logo-item">
                        <a href="https://www.guidestar.org/profile/20-0097189" target="_blank"><img class="logo-item__image" src="{% static '_images/seal-guidestar-gold-2019.png' %}" alt="{% trans 'Seal of GuideStar Gold 2019' %}"></a>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="layout__primary-col">
            <div class="donate-form">
                <header class="donate-form__header">
                    <h1 class="donate-form__heading heading heading--primary">{{ page.title }}</h1>
                    <div class="donate-form__currency">
                        {% render_form_field currency_form.currency %}
                    </div>
                </header>
                {% include "fragments/messages.html" %}
                {% include "fragments/donate_form.html" %}
            </div>
        </div>
    </div>
</div>

{% if recaptcha_site_key %}
<div id="g-recaptcha" data-public-key="{{ recaptcha_site_key }}"></div>
{% endif %}

{% endblock %}

{% block extra_js %}
    {{ currencies|json_script:"currencies" }}
    {{ braintree_params|json_script:"payments__braintree-params" }}
    <script src="https://www.paypalobjects.com/api/checkout.min.js" data-version-4></script>
    <script src="{% static '_js/payments-paypal.compiled.js' %}"></script>
    {% if recaptcha_site_key %}
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    {% endif %}
{% endblock %}
