{% extends "pages/base_page.html" %}
{% load i18n %}

{% block title %}{% trans "Ways to Give" %}{% endblock %}

{% block template_name %}app--ways-to-give{% endblock %}

{% block content %}

<div class="banner">
    <h1>{% trans "Ways to Give" %}</h1>
    <div><a href="{{ways_to_give_link}}" class="button button--outline button--dark-bg">{% trans "DONATE NOW" context "Button" %}</a></div>
</div>

<div class="container content">
    <h2>{% trans "Credit / Debit and PayPal" %}</h2>
    <p>
        {% blocktrans trimmed %}
        <a href="{{ways_to_give_link}}">Go to this link</a> to make a secure online donation right now.
        {% endblocktrans %}
    </p>

    {% block stock_donations %}
    <h2>{% trans "Donation of Stock/Securities:" %}</h2>
    <p>
        {% blocktrans with name="Grace Fung" email="grace@mozillafoundation.org" trimmed %}
        The Mozilla Foundation is happy to accept your gift of publicly-traded stocks or bonds through
        our brokerage account at Northern Trust Securities. Please contact Major Gift Officer {{name}}
        at <a href="mailto:{{email}}">{{email}}</a> to initiate the process.
        {% endblocktrans %}
    </p>
    {% endblock %}

    <h2 id="check">
        {% trans "Check (via postal service)" %}
    </h2>
    <p>
        {% block covid_notice %}
        <b>{% trans "UPDATE October 2020:"%}</b>
        {% blocktrans trimmed %}
        The Mozilla Foundation is happy to accept your donation (made payable to “Mozilla Foundation”) via check;
        however please note that processing and acknowledgment of your gift may be delayed by changes to our office procedures
        due to the COVID-19 pandemic. You can send checks to:
        {% endblocktrans %}
        <br>
        {% endblock %}
    </p>
    <address>
        {% block check_address %}
            Mozilla Foundation, attn: Donor Care<br>
            2 Harrison Street, Suite 175<br>
            San Francisco, CA 94105
        {% endblock %}
    </address>
    <p>
        {% block covid_notice_memo_line %}
        {% blocktrans trimmed %}
        Please include your email address on the memo line of your check to help us track and attribute your gift.
        {% endblocktrans %}
        {% endblock %}
    </p>
    <p>
        {% block covid_notice_end_note %}
        {% blocktrans with instruction_url="https://give.thunderbird.net/ways-to-give/#check" trimmed %}
        Please also note that the Mozilla Foundation can <strong>only</strong> accept checks in U.S. dollars drawn on a U.S. bank, and <strong>cannot</strong> accept contributions for MZLA/Thunderbird.
        (Contributions to MZLA/Thunderbird via check can be made by following <a href="{{instruction_url}}" target="_blank">these instructions</a>.)
        {% endblocktrans %}
        {% endblock %}
    </p>
    {% block currencies %}
        <h2>{% trans "Currencies" %}</h2>
        <p>{% trans "Select your currency to make a secure online donation:" %}</p>
        <ul class="currency-list">
            {% for key, value in currencies.items %}
            <li><a href="{{ways_to_give_link}}&currency={{key}}">
                {{ key|upper }} {{ value.symbol }}
            </a></li>
            {% endfor %}
        </ul>
    {% endblock %}
    {% comment %}
    Temporarily commenting out crypto-donation info per request https://github.com/mozilla/donate-wagtail/issues/1608
      {% block cryptocurrencies %}
        <h2>{% trans "Cryptocurrencies" %}</h2>
        <p>
          {% blocktrans trimmed %}
            The Mozilla Foundation is a California non-profit corporation exempt from United States federal income taxation under IRC 501(c)(3) and a public charity classified under IRC sections 170(b)(1)(A) and 509(a)(1). Cryptocurrency donations Mozilla receives are considered charitable contributions under U.S. federal tax laws, to be used in its discretion for its charitable purposes. Because the IRS has indicated that it will treat cryptocurrencies as property for U.S. tax purposes (see IRS Notice 2014-21), cryptocurrency donations may be subject to special rules as to the amount of your charitable deduction, the documentation that must be provided to claim a tax deduction, or other matters.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans with cryptocurrency_wiki="https://wiki.mozilla.org/Donate_Bitcoin" cryptocurrency_url="https://bitpay.com/100257/donate" trimmed %}
            Learn more about cryptocurrency donations <a href="{{cryptocurrency_wiki}}">here</a>. To donate using cryptocurrency, <a href="{{cryptocurrency_url}}">please visit this link.</a>
          {% endblocktrans %}
        </p>
      {% endblock %}
    {% endcomment %}

</div>

{% endblock %}
