{% extends "pages/base_page.html" %}
{% load i18n %}

{% block title %}{% trans "Ways to Give" %}{% endblock %}

{% block template_name %}app--ways-to-give{% endblock %}

{% block content %}

<div class="banner">
    <h1>{% trans "Ways to Give" %}</h1>
    <div><a href="{{ways_to_give_link}}" class="button button--outline button--dark-bg">{% trans "DONATE NOW" context "Button" %}</a></div>
</div>

<div class="container content">
    <h2>{% trans "Credit / Debit and PayPal" %}</h2>
    <p>
        {% blocktrans trimmed %}
        <a href="{{ways_to_give_link}}">Go to this link</a> to make a secure online donation right now.
        {% endblocktrans %}
    </p>

    {% block SEPA %}
    <h2 id="wire">{% trans "Bank Transfer / SEPA" %}</h2>
    <p>{% trans "We accept donations in Euros through Single European Payment Area (SEPA) transfer, and British Pounds through BACS transfer." %}</p>
    <p>
        {% blocktrans trimmed %}
        Note that for smaller (under 10 EUR or equivalent) donations, <strong>and especially for donations under 5 EUR or equivalent</strong>, we request that you donate via credit card or PayPal to help reduce Mozilla’s processing fees.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans with instruction_url="https://give.thunderbird.net/ways-to-give/#wire" trimmed %}
        Please also note that the Mozilla Foundation cannot accept SEPA or BACS transfers for MZLA/Thunderbird. To contribute to MZLA/Thunderbird via SEPA or BACS transfer, please follow <a href="{{instruction_url}}">these instructions</a>.
        {% endblocktrans %}
    </p>
    <p>{% trans "Please remember that donations are deductible for U.S. income tax purposes only." %}</p>
    <p>
        {% blocktrans with address="2 Harrison Street, Suite 175, San Francisco, CA 94105 USA" trimmed %}
        If your bank requests our physical address, it is {{address}}.
        {% endblocktrans %}
    </p>
    {% endblock %}

    {% block euros %}
    <h3>{% trans "Euros:" %}</h3>
    <p>
        <b>{% trans "Account Currency:" %}</b> {% trans "Euro (EUR)" %}<br>
        <b>{% trans "Receiving Bank (Pay to):" %}</b> Standard Chartered Bank<br>
        <b>{% trans "City & Country/Region:" %}</b> {% trans "Frankfurt, Germany" %}<br>
        <b>{% trans "SWIFT/BIC Code:" %}</b> SCBLDEFX<br>
        <b>{% trans "Beneficiary Name (For credit to):" %}</b> SVB-Mozilla Foundation<br>
        <b>{% trans "IBAN:" %}</b> DE67512305000500136802
        {% block tb_memo_eur %}{% endblock %}
    </p>
    {% endblock %}

    {% block british_pound %}
    <h3>{% trans "British Pound Sterling:" %}</h3>
    <p>
        <b>{% trans "Account Currency:" %}</b> {% trans "British Pound Sterling (GBP)" %}<br>
        <b>{% trans "Receiving Bank (Pay to):" %}</b> National Westminster Bank<br>
        <b>{% trans "City & Country/Region:" %}</b> {% trans "London, United Kingdom" %}<br>
        <b>{% trans "Bank Sort Code:" %}</b> 60-00-04<br>
        <b>{% trans "Account Number (8 digits):" %}</b> 10017496<br>
        <b>{% trans "Beneficiary Name (For credit to):" %}</b> SVB RE Mozilla Foundation
    </p>
    <p>
        <b>{% trans "SWIFT/BIC Code:" %}</b> NWBKGB2L<br>
        <b>{% trans "IBAN:" %}</b> GB77NWBK60000410017496
        {% block tb_memo_gbp %}{% endblock %}
    </p>
    {% endblock %}

    {% block stock_donations %}
    <h2>{% trans "Donation of Stock/Securities:" %}</h2>
    <p>
        {% blocktrans with name="Jesse Ward" email="jessew@mozillafoundation.org" trimmed %}
        The Mozilla Foundation is happy to accept your gift of publicly-traded stocks or bonds through
        our brokerage account at Northern Trust Securities. Please contact Major Gift Officer {{name}}
        at <a href="mailto:{{email}}">{{email}}</a> to initiate the process.
        {% endblocktrans %}
    </p>
    {% endblock %}

    <h2 id="check">
        {% trans "Check (via postal service)" %}
    </h2>
    <p>
        {% block covid_notice %}
        <b>{% trans "UPDATE October 2020:"%}</b>
        {% blocktrans trimmed %}
        The Mozilla Foundation is happy to accept your donation (made payable to “Mozilla Foundation”) via check;
        however please note that processing and acknowledgment of your gift may be delayed by changes to our office procedures
        due to the COVID-19 pandemic. You can send checks to:
        {% endblocktrans %}
        <br>
        {% endblock %}
    </p>
    <address>
        {% block check_address %}
            Mozilla Foundation, attn: Donor Care<br>
            2 Harrison Street, Suite 175<br>
            San Francisco, CA 94105
        {% endblock %}
    </address>
    <p>
        {% block covid_notice_memo_line %}
        {% blocktrans trimmed %}
        Please include your email address on the memo line of your check to help us track and attribute your gift.
        {% endblocktrans %}
        {% endblock %}
    </p>
    <p>
        {% block covid_notice_end_note %}
        {% blocktrans with instruction_url="https://give.thunderbird.net/ways-to-give/#check" trimmed %}
        Please also note that the Mozilla Foundation can <strong>only</strong> accept checks in U.S. dollars drawn on a U.S. bank, and <strong>cannot</strong> accept contributions for MZLA/Thunderbird.
        (Contributions to MZLA/Thunderbird via check can be made by following <a href="{{instruction_url}}" target="_blank">these instructions</a>.)
        {% endblocktrans %}
        {% endblock %}
    </p>
    {% block currencies %}
        <h2>{% trans "Currencies" %}</h2>
        <p>{% trans "Select your currency to make a secure online donation:" %}</p>
        <ul class="currency-list">
            {% for key, value in currencies.items %}
            <li><a href="{{ways_to_give_link}}&currency={{key}}">
                {{ key|upper }} {{ value.symbol }}
            </a></li>
            {% endfor %}
        </ul>
    {% endblock %}
    {% block bitcoin %}
        <h2>{% trans "Bitcoin" %}</h2>
        <p>
            {% blocktrans trimmed %}
            The Mozilla Foundation is a California non-profit corporation exempt from United States federal income taxation under IRC 501(c)(3) and a public charity classified under IRC sections 170(b)(1)(A) and 509(a)(1). Bitcoin donations Mozilla receives are considered charitable contributions under U.S. federal tax laws, to be used in its discretion for its charitable purposes. Because the IRS has indicated that it will treat bitcoin as property for U.S. tax purposes (see IRS Notice 2014-21), donations of bitcoin may be subject to special rules as to the amount of your charitable deduction, the documentation that must be provided to claim a tax deduction, or other matters.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans with bitcoin_wiki="https://wiki.mozilla.org/Donate_Bitcoin" bitcoin_donate="https://bitpay.com/100257/donate" trimmed %}
            Learn more about bitcoin donations <a href="{{bitcoin_wiki}}">here</a>. To donate bitcoin, <a href="{{bitcoin_donate}}">please visit this link.</a>
            {% endblocktrans %}
        </p>
    {% endblock %}
</div>

{% endblock %}
