// Vendor
@import "vendor/normalize";

// Abstracts
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// Base
@import "base/base";
@import "base/typography";
@import "base/layout";
@import "base/utils";

// Pages
@import "pages/ways-to-give-page";

// Components
// Ordered alphabetically
@import "components/accordion";
@import "components/accordion-item";
@import "components/app";
@import "components/burger";
@import "components/button";
@import "components/card";
@import "components/column-spacing";
@import "components/donation-amount";
@import "components/donate-form";
@import "components/donation-update";
@import "components/error";
@import "components/footer";
@import "components/footer-custom-select";
@import "components/footer-links";
@import "components/form";
@import "components/form-custom-select";
@import "components/form-item";
@import "components/header";
@import "components/heading";
@import "components/hero";
@import "components/icon";
@import "components/image-feature";
@import "components/introduction";
@import "components/link";
@import "components/logo-item";
@import "components/logo-showcase";
@import "components/nav-item";
@import "components/newsletter-signup";
@import "components/notification";
@import "components/page-header";
@import "components/payments";
@import "components/primary-nav";
@import "components/rich-text";
@import "components/sticky-message";
@import "components/support-form";
@import "components/tabs";
