.button {
  $root: &;
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }

  &--primary {
    background-color: $color--primary;
    color: $color--white;
    text-align: center;
    transition: background-color $transition;

    &:hover,
    &:active,
    &:focus {
      color: $color--white;
      background-color: darken($color--primary, 5%);
    }
  }

  &--secondary {
    background-color: $color--grey-40;
    text-align: center;
    color: $color--white;
    transition: background-color $transition;

    &:hover,
    &:active,
    &:focus {
      color: $color--white;
      background-color: darken($color--grey-40, 5%);
    }
  }

  &--full {
    width: 100%;
  }

  &--large {
    @include font-size(m);
    padding: ($gutter * 0.75);
    font-weight: $weight--semibold;
  }

  &__icon {
    fill: $color--white;
    margin-right: ($gutter / 4);
  }

  &--rounded {
    border-radius: 3px;
  }

  &--no-label {
    #{$root}__label {
      @include hidden();
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon-item {
    margin: 0 ($gutter / 4);
    height: 13px;
    width: auto;

    @include media-query(tablet-portrait) {
      height: 18px;
    }
  }
}
