.button {
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }

  &--primary {
    background-color: $color--primary;
    color: $color--white;
    transition: background-color $transition;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color--primary, 5%);
    }
  }

  &--full {
    width: 100%;
  }

  &--large {
    @include font-size(m);
    padding: $gutter;
    font-weight: $weight--semibold;
  }

  &__icon {
    fill: $color--white;
    margin-right: ($gutter / 4);
  }
}
