.button {
  $root: &;
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }

  &--primary {
    background-color: $color--primary;
    color: $color--white;
    text-align: center;
    transition: background-color $transition;

    &:hover,
    &:active,
    &:focus {
      color: $color--white;
      background-color: darken($color--primary, 5%);
    }

    &[disabled] {
      opacity: 0.5;
      background-color: $color--disabled;
    }
  }

  &--secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    color: $color--black;
    border: 2px solid $color--black;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      color: $color--white;
      background-color: $color--black;
    }
  }

  &--outline {
    @include font-size(default);
    border: 2px solid $color--black;
    color: $color--black;
    padding: ($gutter * 0.75) ($gutter / 2);
    transition: border-color $transition;
    font-weight: $weight--bold;
    background-color: $color--white;
    transition: background-color $transition;

    &#{$root}--dark-bg {
      color: $color--white;
      border-color: $color--white;
      background-color: transparent;
      transition: background-color $transition, color $transition;

      &:hover,
      &:active,
      &:focus {
        background-color: $color--white;
        color: $color--black;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $color--white;
      background-color: $color--black;

      #{$root}__icon {
        fill: $color--white;
      }

      #{$root}__icon--link {
        stroke: $color--white;
      }
    }
  }

  &--full {
    width: 100%;
  }

  &--medium {
    padding: ($gutter / 2) ($gutter * 0.75);
  }

  &--large {
    @include font-size(m);
    padding: ($gutter * 0.75);
    min-height: 60px;
    font-weight: $weight--semibold;

    .donate-form__actions-buttons & {
      @include media-query(tablet-landscape) {
        padding: 0 ($gutter * 0.75);
      }
    }
  }

  &--submit-donation {
    font-weight: 500;
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }

  &--rounded {
    border-radius: 4px; // Match paypal third party button
  }

  &--no-label {
    #{$root}__label {
      @include hidden();
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__icon {
    #{$root}--icon & {
      margin-right: ($gutter / 2);
    }
    #{$root}--primary & {
      margin-right: ($gutter / 4);
      fill: $color--white;
    }
    &--link {
      stroke: $color--black;
    }
  }

  &__icon-item {
    margin: 0 ($gutter / 4);
    height: 13px;
    width: auto;

    @include media-query(tablet-portrait) {
      height: 18px;
    }

    &--amex {
      .amex-disabled & {
        display: none;
      }
    }
  }

  &__copied {
    display: none;

    .copied & {
      display: block;
    }
  }

  &__initial {
    display: block;

    .copied & {
      display: none;
    }
  }

  &__group {
    display: grid;
    grid-gap: ($gutter * 0.75);
    grid-template-columns: 1fr 1fr;
    margin-bottom: $gutter;

    .app--thanks & {
      @include media-query(tablet-portrait) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: $gutter;
      }
    }
  }

  &__hidden {
    height: 0;
    position: absolute;
    @include z-index(hidden);
    opacity: 0.01;
  }

  .page-header & {
    display: inline-block;
    text-transform: uppercase;
    margin-top: $gutter;
  }
}
