.donation-amount {
  $root: &;

  &--two-col {
    grid-column: span 2;
  }

  &--other {
    display: flex;
    flex-direction: row;
  }

  &__container {
    position: relative;
  }

  &__label {
    position: relative;
    z-index: 1;
    display: block;
    border: 1px solid $color--border;
    padding: 20px 5px;
    text-align: center;
    cursor: pointer;
    transition: color $transition, border-color $transition,
      background-color $transition;

    #{$root}--other & {
      flex-basis: 55px;
      min-width: 55px;
      max-width: 55px;
    }
  }

  &__radio {
    position: absolute;
    z-index: -1;

    &:checked + #{$root}__label {
      background-color: $color--primary;
      border-color: $color--primary;
      color: $color--white;
    }
  }

  &__input {
    #{$root}--other & {
      flex-grow: 1;
      padding-left: ($gutter * 0.75);
      border: 1px solid $color--border;
      border-left: 0;
    }
  }
}
