.donation-update {
  display: none;

  &.active {
    display: block;
  }

  &__toggle {
    color: $color--dark-blue;

    &.selected {
      color: $color--black;
    }
  }

  &__form-item {
    position: relative;
  }

  &__label {
    @include hidden();
  }

  &__currency-symbol {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    pointer-events: none;
    border-right: 1px solid $color--border;
    padding: ($gutter * 0.8) ($gutter);
    text-align: center;
    @include media-query(tablet-portrait) {
      padding: ($gutter * 1.05) ($gutter);
    }
  }

  &__input {
    padding-left: 70px !important; // allow space for currency symbol
    height: 100%;
  }

  &__action {
    width: 100%;
  }

  &__container {
    display: block;
    width: 100%;
    @include media-query(tablet-portrait) {
      display: inline-flex;
    }
  }

  &__confirm-button {
    width: 100%;
    @include media-query(tablet-portrait) {
      width: 25%;
    }
  }
  &__amount-input {
    width: 100%;
    margin-right: 16px;
    @include media-query(tablet-portrait) {
      width: 75%;
    }
  }
}
