.donate-form {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: ($gutter / 4);
  }

  &__heading {
    margin-bottom: 0;
  }

  &__tab-options {
    display: flex;
    flex-direction: row;
    margin-bottom: $gutter;
  }

  &__fields {
    display: grid;
    grid-gap: ($gutter / 2);
    grid-template-columns: 1fr 1fr;
    margin-bottom: $gutter;
    @include media-query(tablet-portrait) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: ($gutter);
    }
  }

  &__authorization {
    margin-bottom: ($gutter * 2);
    font-weight: bold;
  }

  &__footer {
    @include font-size(xxs);
    margin-bottom: ($gutter * 2);

    a {
      color: $color--dark-blue;
    }
  }

  &__actions-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $gutter;

    &--baseline {
      align-items: baseline;
    }
  }

  &__actions-heading {
    margin-right: ($gutter);
  }

  &__secure {
    @include font-size(xxs);
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
  }

  &__secure-icon {
    margin-right: ($gutter / 4);
    fill: $color--default;
    height: 18px;
    width: 18px;
  }

  &__actions-buttons {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: 1fr;
    margin-bottom: $gutter;

    @include media-query(tablet-portrait) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__actions-button {
    height: 45px; // match height of paypal button
  }

  &__currency {
    label {
      // can't target a class as this is generated by third party
      @include hidden();
    }
  }

  .app--campaign-page & {
    @include media-query(tablet-landscape) {
      position: relative;
      top: -110px;
      background-color: $color--white;
      padding: ($gutter * 1.5) ($gutter * 2);
      margin-bottom: -100px; // make up for top minus value
    }

    @include media-query(desktop) {
      padding: ($gutter * 2) ($gutter * 3);
    }
  }
}
