.donation-amount {
  $root: &;

  &--two-col {
    grid-column: span 2;
  }

  &--other {
    display: flex;
    flex-direction: row;

    &--container {
      @include media-query(tablet-portrait) {
        height: 100%;
        max-height: 90px;
      }
    }
  }

  &__container {
    position: relative;
  }

  &__label {
    position: relative;
    @include z-index(base);
    display: block;
    border: 1px solid $color--border;
    padding: 20px 5px;
    text-align: center;
    cursor: pointer;
    transition: color $transition, border-color $transition,
      background-color $transition;

    span {
      @include font-size(xs);
      display: block;
    }
    #{$root}--other & {
      flex-basis: 55px;
      min-width: 55px;
      max-width: 55px;
    }
    #donate-form--monthly #{$root}--other & {
      padding-top: 22px;

      @include media-query(tablet-portrait) {
        padding-top: 32px;
      }
    }

    &--hidden {
      @include hidden();
    }
  }

  &__radio {
    position: absolute;
    @include z-index(hidden);

    &:checked + #{$root}__label,
    &:focus + #{$root}__label {
      background-color: $color--primary;
      border-color: $color--primary;
      color: $color--white;
    }
  }

  &__input:not([type="checkbox"]):not([type="radio"]) {
    #{$root}--other & {
      flex-grow: 1;
      padding-left: ($gutter * 0.75);
      border: 1px solid $color--border;
      border-left: 0;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:invalid {
        box-shadow: none;
        border-color: $color--warning;
      }
    }
  }
}
