.error {
  padding-top: ($gutter * 6);
  padding-bottom: ($gutter * 6);

  &__message {
    margin-bottom: ($gutter * 2);
    color: $color--black;
  }

  &__image {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-bottom: ($gutter * 2);
  }
}

.error-message {
  @include font-size(xxs);
  color: $color--warning;
}
