.footer {
  $tablet-landscape-footer-gutter: (
    $gutter * 1.5
  ); // Applied to both columns on tablet-landscape and above, so half total value
  margin-top: 40px;
  background: $color--black;
  padding: 50px 0;
  line-height: 24px;
  color: $color--white;

  p {
    margin: 0;
  }

  &__container {
    margin: 0 auto;
    padding: ($gutter);

    @include media-query(tablet-landscape) {
      max-width: ($site-width--default + ($gutter * 2));
    }
  }

  &__nav {
    margin-bottom: ($gutter / 2);
    @include media-query(tablet-landscape) {
      padding-left: $tablet-landscape-footer-gutter;
    }
  }

  &__newsletter {
    margin-bottom: ($gutter * 2);
    @include media-query(tablet-landscape) {
      padding-right: $tablet-landscape-footer-gutter;
    }
  }

  &__info {
    align-items: center;
  }

  &__logo {
    margin-bottom: ($gutter * 2);

    @include media-query(tablet-landscape) {
      padding-right: $tablet-landscape-footer-gutter;
      margin-bottom: 0;
    }

    &--desktop {
      display: none;

      @include media-query(tablet-landscape) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @include media-query(tablet-landscape) {
        display: none;
      }
    }
  }

  &__logo-image {
    min-width: 100px;
    width: 100px;
    background-color: $color--white;
  }

  &__language-switcher {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media-query(tablet-portrait) {
      flex-wrap: nowrap;
      justify-content: center;
    }

    select {
      width: 100%;
      margin-top: 1rem;

      @include media-query(tablet-portrait) {
        margin: 0 0 0 1rem;
      }
    }
  }

  &__language-label {
    display: flex;
    align-items: center;

    .language-icon {
      margin: 0 10px 0 0;
      min-width: 24px;
    }
  }

  &__legal {
    @include media-query(tablet-landscape) {
      padding-left: $tablet-landscape-footer-gutter;
    }
  }

  &__legal-license {
    @include font-size(xxs);
    line-height: 1.5;
    border-top: 1px solid $color--white;
    padding-top: $gutter;

    a {
      color: $color--light-blue;

      &:hover {
        color: $color--white;
      }
    }
  }
}

.app--rtl {
  .footer {
    &__language-switcher {
      select {
        @include media-query(tablet-portrait) {
          margin: 0 1rem 0 0;
        }
      }
    }
    &__language-label {
      .language-icon {
        margin: 0 0 0 10px;
      }
    }
  }
}
