.footer-links {
  &__container {
    display: flex;
    flex-direction: column;
    @include media-query(tablet-landscape) {
      flex-direction: row;
    }
  }
  &__header {
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: ($gutter * 2);

    @include media-query(tablet-landscape) {
      flex-basis: 33.333%;
      max-width: 33.333%;
      min-width: 33.333%;
      margin-bottom: $gutter;
      margin-right: $gutter;
    }
  }
  &__group {
    margin-bottom: ($gutter * 2);
    @include media-query(tablet-landscape) {
      column-count: 2;
    }
  }

  &__item {
    @include body-text();

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media-query(tablet-landscape) {
      break-inside: avoid;
    }
  }

  &__social-icon {
    width: 18px;
    height: 18px;
    margin-right: ($gutter / 2);
    transition: fill $transition;

    &:hover {
      fill: $color--light-blue;
    }
  }
}
