.footer {
    margin-top: 40px;
    background: $color--black;
    padding: 50px 0;
    line-height: 24px;
    color: $color--grey-40;

    p {
        margin: 0;
        padding: 0 15px;
    }

    &__container {

        .footer-links {
            text-align: center;

            a {
                @include font-size(s);
                font-weight: $weight--bold;
                color: $color--grey-40;

                &:hover {
                    color: $color--white;
                }

            }

            ul {
                margin: 0;

                li {
                    display: inline-block;
                    margin: 0 16px 16px;
                }

            }

        }

        .footer-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: $site-width--small
            width: 100%;

            @media screen and (max-width: 619px) {
                text-align: center;
            }

            @media screen and (min-width: 620px) {
                flex-direction: row;

                p {
                    padding: 0;
                }

                .footer-break {
                    margin: 0 24px;
                    width: 1px;
                    height: 50px;
                }

            }

            a {
                color: $color--white;

                &:hover {
                    text-decoration: underline;
                }

            }

            .footer-break {
                margin: 24px 0;
                height: 1px;
                width: 50px;
            }

            .footer-logo {
                min-width: 100px;
                width: 100px;
            }

        }

    }

}
