.footer-links {
    margin-bottom: ($gutter);

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__item {
        @include body-text();
        margin: 0 ($gutter / 2);
        font-weight: $weight--bold;
    }

}
