.footer {
  $tablet-landscape-footer-gutter: (
    $gutter * 1.5
  ); // Applied to both columns on tablet-landscape and above, so half total value
  margin-top: 40px;
  background: $color--black;
  padding: 50px 0;
  line-height: 24px;
  color: $color--grey-40;

  p {
    margin: 0;
  }

  &__container {
    margin: 0 auto;
    padding: ($gutter);

    @include media-query(tablet-landscape) {
      max-width: ($site-width--default + ($gutter * 2));
    }
  }

  &__nav {
    margin-bottom: ($gutter / 2);
    @include media-query(tablet-landscape) {
      padding-left: $tablet-landscape-footer-gutter;
    }
  }

  &__newsletter {
    margin-bottom: ($gutter * 2);
    @include media-query(tablet-landscape) {
      padding-right: $tablet-landscape-footer-gutter;
    }
  }

  &__info {
    align-items: center;
  }

  &__logo {
    margin-bottom: ($gutter * 2);

    @include media-query(tablet-landscape) {
      padding-right: $tablet-landscape-footer-gutter;
      margin-bottom: 0;
    }

    &--desktop {
      display: none;

      @include media-query(tablet-landscape) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @include media-query(tablet-landscape) {
        display: none;
      }
    }
  }

  &__logo-image {
    min-width: 100px;
    width: 100px;
    background-color: $color--white;
  }

  &__legal {
    @include media-query(tablet-landscape) {
      padding-left: $tablet-landscape-footer-gutter;
    }
  }

  &__legal-license {
    @include font-size(xxs);
    line-height: 1.5;
    border-top: 1px solid $color--white;
    padding-top: $gutter;
  }
}
