.form {
  $root: &;

  &__container {
    margin-bottom: $gutter;
  }

  &__errors {
    @include font-size(s);
    padding: $gutter 0;
    color: $color--warning;
  }

  &__group {
    &--two-col {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &--gutter {
      grid-gap: $gutter;
    }
    &--town-post {
      display: grid;
      grid-template-columns: 0.3fr 0.7fr;

      .form-item:nth-of-type(2) {
        input {
          border-left: 0;
        }
      }
    }
    &--additional-info {
      position: relative;
    }
  }

  &__section {
    &--bottom-margin {
      margin-bottom: ($gutter * 1.5);
    }
  }
}
