:root {
  --currency-width: 0; // populated with donation currency width js
}

.form {
  $root: &;

  &__container {
    margin-bottom: $gutter;

    input:not([type="checkbox"]):not([type="radio"]),
    select {
      min-height: 60px;
    }
  }

  &__errors {
    @include font-size(s);
    padding: $gutter 0;
    color: $color--warning;
  }

  &__group {
    &--two-col {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &--flex {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    &--gutter {
      grid-gap: $gutter;
    }
    &--city-post {
      display: grid;
      grid-template-columns: 0.3fr 0.7fr;

      .form-item:nth-of-type(2) {
        input {
          border-left: 0;
        }
      }
    }
    &--additional-info {
      position: relative;

      input:not([type="checkbox"]) {
        .app--upsell & {
          padding-left: calc((var(--currency-width)) + ((#{$gutter}) * 1.5));
        }
      }
    }
  }

  &__section {
    &--bottom-margin {
      margin-bottom: ($gutter * 1.5);
    }
  }
}
