.form-item {
  $root: &;
  margin-bottom: 20px;

  &--errors {
    input:not([type="checkbox"]),
    textarea {
      border-color: $color--warning !important;
    }
  }

  &--checkbox_input {
    #{$root}__wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    label {
      order: 2;
      margin-bottom: 0;
      font-weight: normal;

      .app--newsletter-signup & {
        @include font-size(xxs);
      }
    }

    input {
      order: 1;
    }

    #{$root}__help {
      flex-basis: 100%;
      order: 3;
    }
  }

  &--radio_select {
    input:not([type="checkbox"]) {
      display: inline-block;
      // sass-lint:disable no-important
      width: auto !important;
      // sass-lint:enddisable
      margin-right: 5px;
    }
  }

  &--hidden_input {
    display: none;
  }

  &--re_captcha {
    .required {
      display: none;
    }
  }

  &__required {
    color: $color--red;
  }

  &__label {
    @include font-size(default);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: $color--black;
  }

  &__errors {
    @include font-size(xxs);
    color: $color--warning;
    padding-top: ($gutter / 4);
  }

  &__standalone-error {
    border-color: $color--warning !important;
  }

  &__help {
    @include font-size(s);
    margin-top: 5px;
    color: $color--grey-60;
  }

  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    padding: ($gutter * 0.75) ($gutter);
    border: 1px solid $color--border;
    transition: border-color $transition;

    &:active,
    &:focus {
      border-color: $color--primary;
    }
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  &__dummy-placeholder {
    // Used for braintree hosted fields
    height: 57px;
    background-color: $color--white;
    padding: 15px 20px;
    border: 1px solid $color--border;
    width: 100%;
  }

  &__input-additional-info {
    @include font-size(m);
    position: absolute;
    right: ($gutter * 2);
    top: 39px; // ensure it sits in the middle of associated input
    pointer-events: none;
    color: $color--grey-40;

    @include media-query(tablet-portrait) {
      top: 42px; // ensure it sits in the middle of associated input
    }
  }

  .donate-form__currency & {
    // override as can't apply modifier class due to form being added
    margin-bottom: 0;
  }
}
