.header {
  $root: &;
  @include z-index(header);
  $logo-width-desktop: 97px;
  $logo-height-desktop: 28px;
  $logo-width-mobile: 28px;
  $logo-height-mobile: 28px;
  position: relative;
  background-color: $color--white;
  border-bottom: 1px solid $color--border;

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px $gutter;
    margin: 0 auto;

    @include media-query(tablet-portrait) {
      padding: 24px ($gutter * 3);
    }

    @include media-query(desktop) {
      padding: 24px $gutter;
      max-width: (
        $site-width--default + (20 * 2)
      ); // Allow for padding on container
    }
  }

  &__logo-link {
    display: block;
    width: $logo-width-mobile;
    height: $logo-height-mobile;

    @include media-query(tablet-landscape) {
      width: $logo-width-desktop;
      height: $logo-height-desktop;
    }
  }

  &__logo {
    display: block;
    width: $logo-width-mobile;
    height: $logo-height-mobile;
    background-color: $color--black;

    @include media-query(tablet-landscape) {
      width: $logo-width-desktop;
      height: $logo-height-desktop;
    }

    &--desktop {
      display: none;

      @include media-query(tablet-landscape) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @include media-query(tablet-landscape) {
        display: none;
      }
    }
  }

  &__menu-toggle {
    width: 28px;
    height: 28px;
    margin-right: ($gutter);

    @include media-query(desktop) {
      position: absolute;
      left: -28px;
    }
  }

  &__menu-label {
    @include hidden();
  }

  .app--no-menu & {
    #{$root}__menu-toggle {
      display: none;
    }
  }
}
