.header {
    $logo-width-desktop: 97px;
    $logo-height-desktop: 28px;
    background-color: $color--white;

    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: $site-width--default;
        padding: 24px 0;
        margin: 0 auto;
    }

    &__logo-link {
        display: block;
        width: $logo-width-desktop;
        height: $logo-height-desktop;
    }

    &__logo {
        display: block;
        width: $logo-width-desktop;
        height: $logo-height-desktop;
        background-color: $color--black;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__inner--top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__menu-toggle {
        width: 28px;
        height: 28px;

        @include media-query(tablet-landscape) {
            position: absolute;
            left: -50px;
        }

    }

    &__menu-label {
        @include hidden();
    }

}
