.heading {
  @include heading-text();
  font-weight: $weight--medium;
  margin-bottom: 0;
  margin-top: 0;

  &--primary {
    @include font-size(xxl);
  }

  &--secondary {
    @include font-size(l);
    font-weight: $weight--bold;
  }

  &--tertiary {
    @include font-size(m);
  }

  &--bottom-margin {
    margin-bottom: ($gutter / 2);
  }

  &--dark-bg {
    color: $color--white;
  }
}
