.link {
  $root: &;

  &--light-bg {
    color: $color--link;

    &:hover,
    &:active,
    &:focus {
      color: $color--link-hover;
    }

    #{$root}--icon {
      fill: $color--black;
    }
  }

  &--dark-bg {
    color: $color--grey-20;

    &:hover,
    &:active,
    &:focus {
      color: $color--white;
    }

    &#{$root}--icon {
      fill: $color--white;
    }
  }

  &--icon {
    #{$root}__svg-title {
      @include hidden();
    }
  }
}
