.logo-showcase {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: $gutter;
  }

  &::after {
    position: relative;
    left: -($gutter);
    right: -($gutter);
    display: block;
    content: "";
    width: calc(100% + (#{$gutter} * 2));
    border-bottom: 1px solid $color--border;
    padding-top: $gutter;
    margin-bottom: $gutter;

    @include media-query(tablet-portrait) {
      display: none;
    }
  }
}
