.newsletter-signup {
  &__header {
    margin-bottom: ($gutter);
  }
  &__label {
    display: block;
    margin-bottom: ($gutter);
  }
  &__thanks {
    display: none; // toggled with js when email submitted
  }
  &__button {
    height: 50px;
    font-weight: $weight--bold;
    padding: ($gutter / 4) $gutter;
    margin-left: 0;
    min-width: 90px; // prevent word wrapping
    width: 100%;

    @include media-query(tablet-portrait) {
      margin-left: $gutter;
      width: auto;
    }
  }
  &__errors {
    color: $color--red;
    margin-bottom: ($gutter / 2);
  }
  &__privacy-label {
    @include font-size(xs);
    display: block; // To keep label from wrapping underneath checkbox
    margin-top: -23px; //
    margin-left: 20px; //

    a {
      color: $color--light-blue;

      &:hover {
        color: $color--blue;
      }
    }
  }
  &__form {
    .form-item {
      width: 100%;

      input:not([type="checkbox"]) {
        height: 49px;
        border: 2px solid $color--white;
        transition: border $transition;
        &:focus {
          border: 2px solid $color--light-blue;
        }
      }
    }
    .form__group--flex {
      flex-direction: column;

      @include media-query(tablet-portrait) {
        flex-direction: row;
        align-items: start;
      }
    }
    p {
      margin-bottom: $gutter;
    }
  }
  &__input {
    margin-bottom: $gutter;
  }
}
