.notification {
  margin-bottom: ($gutter * 1.5);

  @include media-query(tablet-portrait) {
  }

  &--neutral {
    background-color: $color--neutral;
  }

  &--warning {
    background-color: $color--warning;
  }

  &--positive {
    background-color: $color--positive;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: ($gutter * 1.25) $gutter;

    @include media-query(tablet-portrait) {
      flex-direction: row;
      padding: $gutter;
    }
  }

  &__action {
    @include media-query(tablet-portrait) {
      margin-left: $gutter;
    }
  }
}
