.payments {
  &__braintree-error {
    margin: 10px 0;
    padding: 10px;
    background-color: $color--light-red;
    color: $color--white;
  }
  &__button {
    height: 45px;
    overflow: hidden;

    @include media-query(tablet-landscape) {
      height: 35px;
    }

    @include media-query(paypal-specific) {
      height: 45px;
    }

    &--paypal {
      border-radius: 4px;
      .paypal-disabled & {
        display: none;
      }
    }
  }
}

// Vendor-generated classes
.braintree-hosted-fields-invalid {
  border: 1px solid $color--red;
}
