.payments {
  &__braintree-error {
    margin: $gutter 0 ($gutter / 2);
    padding: ($gutter / 2) $gutter;
    background-color: $color--light-red;
    color: $color--black;
    text-align: center;
  }
  &__button {
    height: 45px;
    overflow: hidden;

    @include media-query(tablet-landscape) {
      height: 35px;
    }

    @include media-query(paypal-specific) {
      height: 45px;
    }

    &--paypal {
      position: relative;
      border-radius: 4px;
      .paypal-disabled & {
        display: none;
      }
      &--overlay {
        display: none;
        position: absolute;
        @include z-index(overlay);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }
}

// Vendor-generated classes
.braintree-hosted-fields-invalid {
  border: 1px solid $color--red;
}
