.payments {
  &__braintree-error {
    margin: 10px 0;
    padding: 10px;
    background-color: $color--light-red;
    color: $color--white;
  }
}

// Vendor-generated classes
.braintree-hosted-fields-invalid {
  border: 1px solid $color--red;
}
