.support-form {
  max-width: 500px;
  min-height: 30vh;

  p {
    @include font-size(l);
  }

  .delayed-response-notice {
    background-color: $color--light-red;
    padding: 1em 1.5em 0.5em;
    margin-bottom: 2em;

    p {
      @include font-size(m);
    }
  }

  .privacy-notice {
    margin-bottom: 1em;
  }

  fieldset {
    border: none;
    padding: 0;
  }
}
