.tabs {
  &__item {
    @include font-size(xs);
    display: block;
    padding: 18px 0;
    text-align: center;
    font-weight: $weight--bold;
    letter-spacing: 0.86px;
    line-height: 28px;
    text-transform: uppercase;
    color: $color--black;
    margin-right: ($gutter);
  }

  &__panel {
    &--hidden {
      display: none;
    }
  }
}
