<div class="donate-form__content">
    <div class="donate-form__tabs tabs js-tabs">
        <div class="donate-form__tab-options tabs__container" role="tablist">
            <div class="tabs__option" role="presentation">
                <a
                    class="tabs__item tabs__item--selected js-tab-item"
                    href="#tab-panel-1"
                    role="tab"
                    aria-controls="tab-panel-1"
                    aria-selected="true"
                    id="tab-1"
                >
                    One time
                </a>
            </div>
            <div class="tabs__option" role="presentation">
                <a
                    class="tabs__item js-tab-item"
                    href="#tab-panel-2"
                    role="tab"
                    aria-controls="tab-panel-2"
                    aria-selected="true"
                    id="tab-1"
                >
                    Monthly
                </a>
            </div>
        </div>
        <form class="tabs__panel js-tab-panel" id="tab-panel-1" role="tabpanel" aria-labelledby="tab-1">
            <div class="donate-form__fields">
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="50" id="one-time-amount-1" autocomplete="off">
                    <label for="one-time-amount-1" class="donation-amount__label">$50</label>
                </div>
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="25" id="one-time-amount-2" autocomplete="off">
                    <label for="one-time-amount-2" class="donation-amount__label">$25</label>
                </div>
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="10" id="one-time-amount-3" autocomplete="off">
                    <label for="one-time-amount-3" class="donation-amount__label">$10</label>
                </div>
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="3" id="one-time-amount-4" autocomplete="off">
                    <label for="one-time-amount-4" class="donation-amount__label">$3</label>
                </div>
            </div>
            <div class="donate-form__actions">
                <button class="button button--primary">Donate</button>
                <button class="button button--primary">Paypal donate</button>
            </div>
        </form>
        <form class="js-tab-panel tabs__panel tabs__panel--hidden" id="tab-panel-2" role="tabpanel" aria-labelledby="tab-2">
            <div class="donate-form__fields">
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="50" id="monthly-amount-1" autocomplete="off">
                    <label for="monthly-amount-1" class="donation-amount__label">$10 <span class="donation-amount__note">per month</span></label>
                </div>
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="25" id="monthly-amount-2" autocomplete="off">
                    <label for="monthly-amount-2" class="donation-amount__label">$5 <span class="donation-amount__note">per month</span></label>
                </div>
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="10" id="monthly-amount-3" autocomplete="off">
                    <label for="monthly-amount-3" class="donation-amount__label">$3 <span class="donation-amount__note">per month</span></label>
                </div>
                <div class="donation-amount">
                    <input type="radio" class="donation-amount__radio" name="donation_amount" value="50" id="monthly-amount-4" autocomplete="off">
                    <label for="monthly-amount-4" class="donation-amount__label">$2 <span class="donation-amount__note">per month</span></label>
                </div>
            </div>
            <div class="donate-form__actions">
                <button class="button button--primary">Donate</button>
                <button class="button button--primary">Paypal donate</button>
            </div>
        </form>
    </div>
    <footer class="donate-form__footer">
        <p>Your payment details will be processed by Stripe (for credit/debit cards) or Paypal, and a record of your donation will be stored by Mozilla. Monthly donations are charged each month on the same day that you donate today, and will continue until you cancel. To cancel, email us at donate@mozilla.org. We are able to provide refunds up to one year after a donation is processed. Other ways to give: Wire Transfer or SEPA | Check</p>
        <p>Problems donating? Visit our FAQ for answers to most common questions. Still have problems? Send us an email.</p>
        <p>Contributions go to the Mozilla Foundation, a 501(c)(3) organization based in Mountain View, California, to be used in its discretion for its charitable purposes. They are tax-deductible in the U.S. to the fullest extent permitted by law.</p>
    </footer>
</div>
