{% load i18n util_tags %}

<footer class="donate-form__footer">
    <p>
        {% block donation_information %}
        {% blocktrans with braintree_url='https://www.braintreepayments.com/legal/braintree-privacy-policy' paypal_url='https://www.paypal.com/us/webapps/mpp/ua/privacy-full' privacy_url="https://www.mozilla.org/privacy/websites/" trimmed %}
            Mozilla is committed to your privacy; please read our <a href="{{ privacy_url }}">privacy policy here</a>. Your payment details will be processed by <a href="{{ braintree_url }}">Braintree</a>, a PayPal company (for credit/debit cards) or <a href="{{ paypal_url }}">PayPal</a>, and a record of your donation will be stored by Mozilla.
        {% endblocktrans %}
        {% if monthly %}{% blocktrans with email='donate@mozilla.org' trimmed %}
            Monthly donations are charged each month on the same day that you donate today, and will continue until you cancel. To cancel, email us at <a href="mailto:{{ email }}">{{ email }}</a>.
        {% endblocktrans %}{% endif %}
        {% endblock %}
    </p>
    <p>
        {% block other_options %}
        <b>
            {% blocktrans with wire_transfer_url='/ways-to-give#wire' check_url='/ways-to-give#check' bitcoin_url='https://wiki.mozilla.org/Donate_Bitcoin' %}Other ways to give: <a href="{{ wire_transfer_url }}">SEPA/BACS</a> | <a href="{{ check_url }}">Check</a> | <a href="{{ bitcoin_url }}">Bitcoin</a>{% endblocktrans %}
        </b>
        {% endblock %}
    </p>
    <p>
        {% block faq_contact %}
        {% blocktrans with faq_url='/faq' email='donate@mozilla.org' trimmed %}
            Problems donating? Visit our <a href="{{ faq_url }}">FAQ</a> for answers to most common questions. Still have problems? <a href="mailto:{{ email }}">Send us an email</a>.
        {% endblocktrans %}
        {% endblock %}
    </p>
    <p>
        {% block contribution_statement %}
            {% blocktrans %}Contributions go to the Mozilla Foundation, a 501(c)(3) organization based in San Francisco, California, to be used in its discretion for its charitable purposes. They are tax-deductible in the U.S. to the fullest extent permitted by law.{% endblocktrans %}
        {% endblock %}
    </p>
</footer>
