{% extends "pages/base_page_master.html" %}

{% load i18n %}

{% block meta_tags %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {% trans 'Give to Thunderbird' context 'Page title' %}">
    <meta name="twitter:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.intro|striptags }}{% endif %}">
    <meta name="twitter:image" content="https://assets.mofoprod.net/images/thunderbird_team.jpg">

    {# facebook opengraph tags #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
    <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %} | {% trans 'Give to Thunderbird' context 'Page title' %}">
    <meta property="og:site_name" content="{% if request.site.site_name %}{% trans 'Give to Thunderbird' context 'Page title' %}{% endif %}">
    <meta property="og:description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.intro|striptags }}{% endif %}">
    <meta property="og:image" content="https://assets.mofoprod.net/images/thunderbird_team.jpg">
{% endblock meta_tags %}

{% block footerSignup %}
<div class="footer__nav footer-links layout__half-col"></div>
{% endblock %}
