{% extends "payment/newsletter_signup_master.html" %}

{% load i18n %}

{% block thank-you %}
    <h1 class="heading heading--primary heading--bottom-margin">{% trans "Thank you for your generous gift" %}</h1>
    <p>
        {% comment %}{% blocktrans trimmed %}
        Protect the internet as a global public resource. Join our email list to take action and stay updated!
        {% endblocktrans %}{% endcomment %}
        We’re working hard to protect your inbox. Sign up to receive email messages concerning Thunderbird, including updates and requests for feedback.
    </p>
{% endblock %}
