{% extends "pages/base_page.html" %}
{% load i18n form_tags static wagtailimages_tags %}

{% block title %}{% trans "Card details" %}{% endblock %}


{% block content %}
<div id="payments__payment-wrapper">

    <h1 class="wrapper--small-width">{% blocktrans with amount=payment_amount|floatformat:"-2" %}You're making a single donation of ${{ amount }}{% endblocktrans %}</h1>

    <form class="form" id="payments__braintree-form" method="post" data-token="{{ braintree_tokenization_key }}" data-amount="{{ payment_amount|floatformat }}">
        {% csrf_token %}

        {% render_form_field form.braintree_nonce %}
        {% render_form_field form.payment_mode %}
    </form>

    <div id="payments__braintree-errors-card" hidden></div>

    <div class="form-item">
        <label for="card-number">Card number</label>
        <div class="form-item__wrapper payments__braintree-hosted-field" id="card-number"></div>
    </div>

    <div class="form-item">
        <label for="cvv">Card security code</label>
        <div class="form-item__tooltip-wrapper">
            <div class="form-item__wrapper payments__braintree-hosted-field" id="cvv"></div>
        </div>
    </div>

    <div class="form-item">
        <label for="expiration-date">Expiration date</label>
        <div class="form-item__wrapper payments__braintree-hosted-field" id="expiration-date"></div>
    </div>

    <button class="button button--large button--donate-pay js-form-state__button" type="submit" id="payments__payment-submit" disabled>
        <div class="button__shadow"></div>
        <div class="button__inner js-button__inner">
            {% blocktrans with amount=payment_amount|floatformat:"-2" %}Donate ${{ amount }}{% endblocktrans %}
        </div>
    </button>
</div>
{% endblock %}


{% block extra_js %}
    {{ braintree_params|json_script:"payments__braintree-params" }}
    <script src="/_js/payments.compiled.js"></script>
{% endblock %}
