{% extends "pages/base_page.html" %}
{% load i18n form_tags static util_tags %}

{% block title %}{% trans "Thank you" %}{% endblock %}

{% block template_name %}app--upsell{% endblock %}

{% block content %}

<div class="layout layout--narrow">
    <div class="layout__container">
        <div class="layout__full-col">
            <h1 class="heading heading--primary heading--bottom-margin">{% trans "Thank you for your generous gift" %}</h1>

            <p>{% trans "We’d love to have you as a sustaining supporter of Mozilla. <b>Could you add a monthly donation starting next month?</b>" %}</p>
            <p>{% trans "Yes, I will give:" %}</p>

            <form method="post" class="form">
                <div class="form__container">
                    <div class="form__section">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <div class="form__errors">{{ error }}</div>
                            {% endfor %}
                        {% elif form.errors %}
                            <div class="form__errors">
                                {% trans "There were some errors with your form. Please amend the fields highlighted below." %}
                            </div>
                        {% endif %}

                        <div class="form__group form__group--additional-info">
                            <span class="form-item__input-additional-info form-item__input-additional-info--left" data-donation-currency>{% get_localized_currency_symbol currency_info.code %}</span>
                            <span class="form-item__input-additional-info">{% trans "/ Monthly" %}</span>
                            {% render_form_field form.amount %}
                        </div>

                        <p><small>{% trans "I authorize Mozilla Foundation to charge my card in the amount shown above and to continue doing so each month until I cancel." %}</small></p>
                    </div>

                    <div class="form__section form__section--actions form__section--bottom-margin button__group">
                        <button value="yes" class="button button--large button--primary" type="submit">
                            {% trans "Yes" %}
                        </button>
                        <a href="{% url 'payments:newsletter_signup' %}" class="button button--large button--secondary js-ga-track-click" data-ga-category="User Flow" data-ga-action="Monthly Upgrade Click" data-ga-label="No">
                            {% trans "No" %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
