{% extends "pages/base_page.html" %}
{% load i18n form_tags static util_tags %}

{% block title %}{% trans "Your information" %}{% endblock %}

{% block template_name %}app--details{% endblock %}

{% block content %}

<div class="layout layout--narrow">
    <div class="layout__container">
        <div class="layout__full-col">
            <div class="payments donate" id="donate__personal-details-wrapper">

                <div class="notification notification--neutral">
                    <div class="notification__container">
                        <div class="notification__message">
                            {% format_currency request.LANGUAGE_CODE currency_info.code form.amount.value as formatted_amount %}
                            {% if payment_frequency == 'monthly' %}
                                {% blocktrans with formatted_amount=formatted_amount span_class='js-donation-value' %}You are donating <span class="{{ span_class }}">{{ formatted_amount }}</span> per month{% endblocktrans %}
                            {% else %}
                                {% blocktrans with formatted_amount=formatted_amount span_class='js-donation-value' %}You are donating <span class="{{ span_class }}">{{ formatted_amount }}</span>{% endblocktrans %}
                            {% endif %}
                        </div>
                        <div class="notification__action">
                            <a href="#donate__amount-edit" class="donation-update__toggle" data-amount-toggle>{% trans "Change amount" %}</a>
                        </div>
                    </div>
                </div>

                <div class="donation-update" data-amount-actions>
                    <form class="donation-update__container" id="js-update-donation-amount-form" data-currency="{{ currency_info.code }}" data-locale="{% get_locale %}">
                        <div class="donation-update__form-item form-item donation-update__amount-input">
                            <label class="donation-update__label form-item__label" for="donation-update">{% trans "Donation Amount" %}</label>
                            <div class="donation-update__currency-symbol">{% get_localized_currency_symbol currency_info.code %}</div>
                            <input class="donation-update__input form-item__input" id="js-update-donation-value" type="number" name="donation-update" value="{{ form.amount.value }}" step="1" min="{{ currency_info.minAmount }}" max="10000000" required>
                        </div>
                        <div class="form-item donation-update__confirm-button">
                            <button class="donation-update__action button button--primary button--large" id="js-update-button">{% trans 'Confirm' %}</button>
                        </div>
                    </form>
                </div>

                <h1 class="heading heading--primary heading--bottom-margin">{% trans "Your Details" %}</h1>

            </div>

            <div class="donate__form-wrapper">
                <form method="post" class="form" id="payments__braintree-form" novalidate>
                    <div class="form__container">
                        <div class="form__section form__section--bottom-margin">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <div class="form__errors">{{ error }}</div>
                                {% endfor %}
                            {% elif form.errors %}
                                <div class="form__errors">
                                    {% trans "There were some errors with your form. Please amend the fields highlighted below." %}
                                </div>
                            {% elif gateway_address_errors %}
                                <div class="form__errors">
                                    <p>{% trans "We were unable to take payment because the payment processor reported an error with your address information:" %}</p>
                                    {% for error in gateway_address_errors %}
                                    <p><strong>{{ error }}</strong></p>
                                    {% endfor %}
                                    {% trans "Please correct these errors and try again." %}
                                </div>
                            {% endif %}

                            {% render_form_field form.email %}
                            {% render_form_field form.first_name %}
                            {% render_form_field form.last_name %}
                            {% render_form_field form.address_line_1 %}
                            <div class="form__group form__group--city-post">
                                {% render_form_field form.post_code %}
                                {% render_form_field form.city %}
                            </div>
                            {% render_form_field form.country %}

                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                        </div>

                        <div class="form__section">

                            <div class="donate-form">
                                <header class="donate-form__actions-header donate-form__actions-header--baseline">
                                    <h2 class="donate-form__actions-heading heading heading--primary">{% trans "Payment" %}</h2>
                                    <div class="donate-form__secure">
                                        <svg class="donate-form__secure-icon" width="24" height="24">
                                            <use xlink:href="#padlock"></use>
                                        </svg>
                                        <div class="donate-form__label">
                                            {% trans "SECURE" %}
                                        </div>
                                    </div>
                                </header>
                            </div>

                            <div id="payments__braintree-errors-card" class="form__errors" hidden></div>

                            <div class="form-item">
                                <label class="form-item__label" for="card-number">{% trans "Card number" %}</label>
                                <div class="form-item__dummy-placeholder payments__braintree-hosted-field" id="card-number"></div>
                            </div>

                            <div class="form__group form__group--two-col form__group--gutter">
                                <div class="form-item">
                                    <label class="form-item__label" for="expiration-date">{% trans "Expiration date" %}</label>
                                    <div class="form-item__dummy-placeholder payments__braintree-hosted-field" id="expiration-date"></div>
                                </div>

                                <div class="form-item">
                                    <label class="form-item__label" for="cvv">{% trans "CVV" %}</label>
                                    <div class="form-item__tooltip-wrapper">
                                        <div class="form-item__dummy-placeholder payments__braintree-hosted-field" id="cvv"></div>
                                    </div>
                                </div>
                            </div>
                            {% block donateFormAuth %}
                            <footer class="donate-form__authorization">
                                {% if payment_frequency == 'monthly' %}
                                    <p>{% blocktrans with email='donate@mozilla.org' %}I authorize Mozilla Foundation to automatically charge my card every month in the amount indicated above, starting today and continuing each month on the same day, until I cancel. I understand that I must cancel at least 5 days before the next scheduled donation by email to <a href='mailto:{{ email }}'>{{ email }}</a>, and that I may only request a refund within 15 days from the date of a donation.{% endblocktrans %}</p>
                                {% else %}
                                    <p>{% trans "I authorize Mozilla Foundation to charge my card in the amount indicated above. I understand that I may only request a refund within 15 days from the date of the donation." %}</p>
                                {% endif %}
                            </footer>
                            {% endblock %}

                        </div>

                        <div class="form__section form__section--actions form__section--bottom-margin">

                            <button value="donate" class="button button--submit-donation button--large button--full button--primary button--icon" id="payments__payment-submit" disabled>
                                <svg class="button__icon" width="24" height="24">
                                    <use xlink:href="#padlock"></use>
                                </svg>
                                <div class="button__label">
                                    {% format_currency request.LANGUAGE_CODE currency_info.code form.amount.value as formatted_amount %}
                                    {% if payment_frequency == 'monthly' %}
                                        {% blocktrans with formatted_amount=formatted_amount span_class='button__value js-donation-value' %}Donate <span class="{{ span_class }}">{{ formatted_amount }}</span> per month{% endblocktrans %}
                                    {% else %}
                                        {% blocktrans with formatted_amount=formatted_amount span_class='button__value js-donation-value' %}Donate <span class="{{ span_class }}">{{ formatted_amount }}</span>{% endblocktrans %}
                                    {% endif %}
                                </div>
                            </button>

                        </div>

                        <footer class="donate__footer">
                        {% block donate_footer %}
                            <p class="introduction">{% trans 'Your donation helps keep the Web open and free. Thank you in advance for your gift.' %}</p>
                            <div class="logo-showcase">
                                <div class="logo-showcase__container">
                                    <div class="logo-showcase__item logo-item">
                                        <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=16300" target="_blank"><img class="logo-item__image" src="{% static '_images/seal-charity-navigator-4-star.png' %}" alt="{% trans 'Seal of Charity Navigator 4-Star' %}"></a>
                                    </div>
                                    <div class="logo-showcase__item logo-item">
                                        <a href="https://www.guidestar.org/profile/20-0097189" target="_blank"><img class="logo-item__image" src="{% static '_images/seal-guidestar-gold-2019.png' %}" alt="{% trans 'Seal of GuideStar Gold 2019' %}"></a>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        </footer>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if recaptcha_site_key %}
<div id="g-recaptcha" data-public-key="{{ recaptcha_site_key }}"></div>
{% endif %}
{% endblock %}


{% block extra_js %}
    {{ braintree_params|json_script:"payments__braintree-params" }}
    <script src="{% static '_js/payments-card.compiled.js' %}"></script>
    {% if recaptcha_site_key %}
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    {% endif %}
{% endblock %}
