{% extends "pages/base_page.html" %}
{% load i18n form_tags %}

{% block title %}{% trans "Your information" %}{% endblock %}

{% block content %}

<div class="payments donate" id="donate__personal-details-wrapper">

    <h1>{% trans "Your details" %}</h1>

    <div class="donate__bar">
        <div class="donate__bar-info">
            <p id="donate__heading--single">{% trans "You are donating" %} $<span id="donate__amount__display">{{ form.amount.value }}</span></p>
        </div>

        <div class="donate__amount" id="donate__amount">
            <a id="donate__change-amount" href="#donate__amount-edit">Change amount</a>
        </div>

        <div class="donate__bar-edit" id="donate__amount-edit" hidden>
            <span class="form__input__prefix">$</span> <input type="number" value="{{ form.amount.value }}" step="1" min="1">
            <button class="button" id="donate__amount__save">{% trans 'Confirm' %}</button>
        </div>
    </div>
</div>

<div class="donate__form-wrapper">
    <form method="post" class="form">
        <div class="form__container form__container--flex">
            <div class="form__section form__section--main-column">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="form__errors">{{ error }}</div>
                    {% endfor %}
                {% elif form.errors%}
                    <div class="form__errors">
                        {% trans "There were some errors with your form. Please amend the fields highlighted below." %}
                    </div>
                {% elif request.session.gateway_address_errors %}
                    <div class="form__errors">
                        <p>{% trans "We were unable to take payment because the payment processor reported an error with your address information:" %}</p>
                        {% for error in request.session.gateway_address_errors %}
                        <p><strong>{{ error }}</strong></p>
                        {% endfor %}
                        {% trans "Please correct these errors and try again." %}
                    </div>
                {% endif %}

                {% render_form_field form.amount %}
                {% render_form_field form.name %}
                {% render_form_field form.email %}
                {% render_form_field form.address_line_1 %}
                {% render_form_field form.town %}
                {% render_form_field form.post_code %}
                {% render_form_field form.country %}

            </div>

            <div class="form__section form__section--full-width">

                <button value="{% trans 'Continue to payment' %}" class="button button--large button--secondary" type="submit">
                    <div class="button__shadow"></div>
                    <div class="button__inner">
                        {% trans 'Continue to payment' %}
                    </div>
                </button>

            </div>

        </div>
    </form>
</div>

{% endblock %}
